body{
  font-family: 'Courier New', Courier, monospace;
  background-color: darkkhaki;

}

.container{
  width:30px;
  margin:auto;
  background-color:silver;
  padding: 20px;
  box-shadow: 0  0  10px #e8e7e7;
  border-radius: 10px;
  text-align: center;

}

input{
  width:90%;
  padding:10px;
  margin-bottom: 10px ;
  border:1px solid #aaa;

}
button{
  padding:10px 15px;
  background:blue;
  color:white;
  border:none;
  border-radius: 5px;
  cursor:pointer;

}

ul{
  padding:0px;
}
li{
  list-style: none;
  background-color: plum;
  padding:10px;
  margin-top: 5px;
  border-radius: 5px;
  

}